<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>challenges</title>
    <script src="qrcode.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
           body {
             margin: 0;
             padding: 0;
             background-color:rgb(227, 240, 240);
             max-height: 1300px;
           }
           
           ul {
             list-style-type: none;
             margin: 0;
             padding: 0;
             width: 15%;
             background-color:#4f626e;   
             position: fixed;
             height: 100%;
             font-size: 18px;
             overflow: auto;
           }
           
           li a {
             display: block;
             color: white;
             padding: 8px 16px;
             text-decoration: none;
           }
           li a:not(.logo-top):hover{
               opacity: 0.7;
           }

           #box-1{
               background-color: red;
               height: 22px;
               width: 22px;
               font-size: 22px;
               color: white;
               position: absolute;
               left: 18px;
               top: 15px;
           }
           .logo-top{
                border: 5px solid #000203;
                background-color: #000203;
            }
           #logo{
               font-size: 24px;
               font-weight: bold;
           }
           #server{
               font-size: 15px;
               padding-left: 16px;
               color:white;
           }
           .space{
               background-color: red;
               height: 30px;
               width: 8px;
               position: absolute;
               top: 139px;
           }
           .boder{
               border: 1px solid gray;
               padding:15px;
           }
           #line-1{
               font-size: 13px;
               color: white; 
           }
           #logo-2{
               font-size: 80px;
               font-weight: bold;
               position: absolute;
               top: 100px;
               left: 250px;
           }
           #box-2{ 
               font-size: 82px;
               background-color: red;
               position: absolute;
               top: 100px;
               left: 250px;
           }
           #username{
               font-size: 18px;
               text-decoration: none;
               color: red;
               float: right;
               margin: 14px 0px;

           }
           #line-qoute-1{
               color: black;
               font-size: 17px;
               position: absolute;
               top: 210px;
               left: 250px;
           }
           .change{
               padding-left: 10px;
               font-size: 15px;
           }
           .change2{
                float: right;
               font-size: 15px;

           }

.dropbtn {
 background-color:transparent;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 position: absolute;
 left: 820px;
 top:-10px;
 
}

.dropdown {
 position: relative;
 display: inline-block;
}

.dropdown-content {
 display: none;
top: 40px;
 position: absolute;
 left: 830px;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:transparent;}

           
           </style>
</head>
<body style="font-family: 'Times New Roman', Times, serif;">
   <ul>
       <li><a class="logo-top" href="/"><span id="box-1">&nbsp;H&nbsp;</span><span id="logo">Hackergram <sup style="font-size: 12px;">TM</sup></span></a></li><br><br>
       <span id="server">Server: <span style="color:red;"> localhost Free 1</span></span><br><br>
       <span class="space">&nbsp;&nbsp;</span> <li><a href="/dashboard"> Dashboard</a></li>
       <li><a href="/other">Other</a></li><br>
       <li><a class="boder" href="/education"><i style='font-size:15px' class='fas'>&#xf19d;</i> &nbsp;&nbsp;Education</a></li>
       <li><a class="boder" href="/result"><i style='font-size:15px' class='fas'>&#xf0f0;</i> &nbsp;&nbsp;Result</a></li>
       <li><a class="boder" href="/ranking"><i style="font-size:15px" class="fa">&#xf1fe;</i>&nbsp;&nbsp;Rankings</a></li>
       <li><a class="boder" href="/member"><i style="font-size:15px" class="fa">&#xf0c0;</i> &nbsp;&nbsp;Members</a></li>
       <br><br><br><br><br><br>
       <span id="line-1">Hackergram is an online platform allowing you to test and advance your skills in cyber security. Use it responsibly and don't hack your fellow members...</span> 
   </ul>    
   <div style="z-index: 10; margin-left:15%;padding:1px 16px;height:51px;position: fixed;width:85%; background-color:#4f626e;">
     <a href="logout"><i style="font-size:24px;color: black;float: right;padding: 11px 50px;" class="fa">&#xf13e;</i></a>
   
      <div class="dropdown">
       <button class="dropbtn"> <span style="color: black;">User:</span>&nbsp;<%=result.username%><i class='fas fa-caret-down' style='font-size:48px;color:black'></i> </button>
       <div class="dropdown-content">
               <a href="#">Id:<%=result.id%></a>
         <a href="#">Email:<%=result.email%></a>
         <a href="#">Phone:<%=result.phone%></a>
         <a href="/updateprofileimage">Update Profile Image</a>
         <a href="/updateprofile">Update Profile</a>
         
       </div>
     </div>
     <img src="<%= result.imagesrc %>" alt="profilepicture" style="height: 45px;width:45px;overflow:hidden;border-radius: 50%;float:right;align-items: center;justify-items: center;">
     
   </div>      
   <div style="margin-left:15%;padding:1px 16px;height:1000px;z-index: -10;">
    <span id="logo-2">Challenges For You</span>
       <span id="line-qoute-1">Hackergram is an online platform allowing you to test and advance your skills in cyber security. Use it responsibly and don't hack your fellow members...</span>
   </div>

  <section style=" width:75%;position: absolute;top: 250px;left:250px;padding: 20px;" >
<div style="background-color:rgb(204, 237, 247);margin-bottom: 20px;border-left : 25px solid skyblue;border-right : 5px solid skyblue;padding: 5px;" >
    <h1>Cryptography </h1>
      <p>Cryptography is a method of protecting information and communications through the use of codes so that only those for whom the information is intended can read and process it. The pre-fix "crypt" means "hidden" or "vault" and the suffix "graphy" stands for "writing."</p>
<br>
    <a href="/ctf/crypto" style="background-color: black; color: white;border: 1px solid white;text-decoration: none;padding: 10px 50px 10px 50px;">Accept</a>
<br><br>
  </div>

  <div style="background-color:rgb(204, 237, 247);margin-bottom: 20px;border-left : 25px solid skyblue;border-right : 5px solid skyblue;padding: 5px;" >
      <h1>SQL Injection </h1>
      <p>SQL injection is a code injection technique that might destroy your database.SQL injection is one of the most common web hacking techniques.SQL injection is the placement of malicious code in SQL statements, via web page input.</p>
      <br>
      <a href="/ctf/sql" style="background-color: black; color: white;border: 1px solid white;text-decoration: none;padding: 10px 50px 10px 50px;">Accept</a>
  <br><br>
    </div>
 


    <div style="background-color:rgb(204, 237, 247);margin-bottom: 20px;border-left : 25px solid skyblue;border-right : 5px solid skyblue;padding: 5px;" >
        <h1>Cross-site Scripting (XSS) </h1>
<p>Cross-Site Scripting (XSS) attacks are a type of injection, in which malicious scripts are injected into otherwise benign and trusted websites. XSS attacks occur when an attacker uses a web application to send malicious code, generally in the form of a browser side script, to a different end user. Flaws that allow these attacks to succeed are quite widespread and occur anywhere a web application uses input from a user within the output it generates without validating or encoding it.</p>
        <br>
        <a href="/ctf/xss" style="background-color: black; color: white;border: 1px solid white;text-decoration: none;padding: 10px 50px 10px 50px;">Accept</a>
    <br><br>
      </div>



      <div style="background-color:rgb(204, 237, 247);margin-bottom: 20px;border-left : 25px solid skyblue;border-right : 5px solid skyblue;padding: 5px;" >
          <h1>Steganography </h1>
<p>The word Steganography is derived from two Greek words- ‘stegos’ meaning ‘to cover’ and ‘grayfia’, meaning ‘writing’, thus translating to ‘covered writing’, or ‘hidden writing’. Steganography is a method of hiding secret data, by embedding it into an audio, video, image or text file. It is one of the methods employed to protect secret or sensitive data from malicious attacks.</p>
          <br>
          <a href="/ctf/steg" style="background-color: black; color: white;border: 1px solid white;text-decoration: none;padding: 10px 50px 10px 50px;">Accept</a>
      <br><br>
        </div>


        <div style="background-color:rgb(204, 237, 247);margin-bottom: 20px;border-left : 25px solid skyblue;border-right : 5px solid skyblue;padding: 5px;" >
            <h1>Cyber forensics </h1>
<p>Computer forensics is the application of investigation and analysis techniques to gather and preserve evidence from a particular computing device in a way that is suitable for presentation in a court of law. The goal of computer forensics is to perform a structured investigation while maintaining a documented chain of evidence to find out exactly what happened on a computing device and who was responsible for it.</p>
            <br>
            <a href="/ctf/foren" style="background-color: black; color: white;border: 1px solid white;text-decoration: none;padding: 10px 50px 10px 50px;">Accept</a>
        <br><br>
          </div>



          <div style="background-color:rgb(204, 237, 247);margin-bottom: 20px;border-left : 25px solid skyblue;border-right : 5px solid skyblue;padding: 5px;" >
            <h1>Network Security </h1>
 <p>Network security is any activity designed to protect the usability and integrity of your network and data. It includes both hardware and software technologies. Effective network security manages access to the network. It targets a variety of threats and stops them from entering or spreading on your network.</p>
            <br>
            <a href="/ctf/network" style="background-color: black; color: white;border: 1px solid white;text-decoration: none;padding: 10px 50px 10px 50px;">Accept</a>
        <br><br>
          </div>
        


        
  </section>
    
   
   











 

    
</body>
</html>